main .container {
    background: khaki;
    padding: 1em;
    border-radius: 6px;
}

.entryholder {
    display: flex;
}

.entries {
    flex: 1 0 auto;
}

.entries li,
.entry,
.teams,
.players {
    list-style-type: none;
}

img.insta {
    height: 1em;
}


/* Gör mellanrum i entry.show listan */

li.entry:nth-child(4),
li.entry:nth-child(5) {
    margin-bottom: 0.65em;
}

.forumpost {
    border: thin solid brown;
    border-radius: 6px;
    margin: 1em 0;
    padding: 0.5em;
}

.forumrow label {
    display: block;
}

.author {
    font-size: 0.7em;
    text-align: right;
}


/* Matcher */


/* div.match {
    display: flex;
}

div.match div {
    flex: 0 1 33%;
    margin: 0 1em;
}
*/

div.match div:first-child p {
    margin: 0;
}

div.match div:first-child {
    padding: 0.3em;
    background: white;
    text-align: center;
    /* min-width: 20%; */
    border-radius: 6px;
    margin: 0.3em 0;
}

div.match div:first-child:hover {
    background: silver;
}

div.match div:nth-child(2) {
    text-align: right;
}

div.match div:last-child {
    text-align: left;
}


/* @media (max-width: 450px) {
    div.match div:first-child {
        min-width: 33%;
    }
} */