main .container {
    background: khaki;
    padding: 1em;
    border-radius: 6px;
}

.entryholder {
    display: flex;
}

.entries {
    flex: 1 0 auto;
}

.entries li,
.entry,
.teams,
.players {
    list-style-type: none;
}

img.insta {
    height: 1em;
}


/* Gör mellanrum i entry.show listan */

li.entry:nth-child(4),
li.entry:nth-child(5) {
    margin-bottom: 0.65em;
}

.forumpost {
    border: thin solid brown;
    border-radius: 6px;
    margin: 1em 0;
    padding: 0.5em;
}

.forumrow label {
    display: block;
}

.author {
    font-size: 0.7em;
    text-align: right;
}


/* Matcher */

div.match {
    display: flex;
}

div.match div {
    flex: 0 1 auto;
}

div.match div:first-child {
    padding: 0.3em;
    background: white;
    min-width: 10%;
    text-align: center;
    border-radius: 6px;
    margin: 0.3em 0.5em;
}