main .container {
    background: khaki;
    padding: 1em;
    border-radius: 6px;
}

.entryholder {
    display: flex;
}

.entries {
    flex: 1 0 auto;
}

.entries li,
.entry,
.teams,
.players {
    list-style-type: none;
}

img.insta {
    height: 1em;
}